
  a.menu-icon-piklist_demo img {
    width: 18px;
    height: 16px;
  }

  .piklist-demo-help-source {
    clear: both;
  }
  
    .piklist-demo-help-source code {
      max-width: 100%;
    }

  .piklist-demo-highlight {
      background: #FFFFFF;
      border-left: 4px solid #dd3726;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      margin: 15px 0 10px 0;
      padding: 10px 12px;
      clear: both;
  }

    .piklist-demo-highlight h3 {
      padding: 0 !important;
      margin: 0 !important;
    }

    .piklist-demo-highlight p:last-child {
      margin-bottom: 0 !important;
    }

    .postbox .piklist-demo-highlight {
      background: #F1F1F1;
    }

    .piklist-meta-box-none .piklist-demo-highlight {
      background: #FFFFFF;
    }
